*{
    box-sizing: border-box;
}
table,
th,
td {
  border: 1px solid black;
  border-collapse: collapse;
  /* border-spacing: 10px; - set space between borders. Not working when collapsed */
}
caption{
    margin-bottom: 8px;
}

th,
td {
  padding: 4px;
  text-align: right;
  height: 40px;
}

table {
  width: 500px;
  margin: 16px;
}
div{
    overflow-x: auto;
}
th{
    background-color: aqua;
}
tfoot{
    font-weight: 700;
}
tbody > tr:nth-child(odd){
    background-color: #f2f2f2;
}
tbody > tr:hover{
    background-color: #aaa;
    color: white;
}